<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>hello</title>
  </head>
  <body>
    <table>
      {% for i in range(0,num1)%}
      <tr>
        {% for x in range(0,num2)%} 
        {%if (i+x) % 2 == 0 %}
        <td><div class="box" style="background-color: red"></div></td>
        {% else %}
        <td><div class="box" style="background-color: black"></div></td>
        {% endif %} 
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
