<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display back-end info</title>
</head>
<body>
    <h1>Show Page</h1>
<h3>Info Submitted:</h3>
    <table>
        <tr>
            <th>Name:</th>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <th>Location:</th>
            <td>{{location}}</td>
        </tr>
        <tr>
            <th>Favorite Language:</th>
            <td>{{ language }}</td>
        </tr>
        <tr>
            <th>Comments</th>
            <td>{{ comment }}</td>
        </tr>
    </table>
</body>
</html>