<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="margin: 0 auto;">
    <nav class="navbar navbar-light bg-light">
        {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

        <form action="/process" method="POST" class="form-inline">
          <input class="form-control mr-sm-2" name="email" id="email" type="text" placeholder="Enter Email Address: ">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
        </form>
      </nav>
    </form>
</body>
</html>