<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Ninja</h1>
    <div class="info">
        <form action="/return_ninja" method = 'POST'>
            <h3>Dojo:</h3> 
                <select name="dojos" id="dojos">
                {% for i in dojos %}
                    <option value="{{i['id']}}">{{i['name']}}</option>
                {% endfor %}
                </select>
            <h3>First Name: 
                <input type="text" name="fname">
            </h3>
            <h3>Last Name: 
                <input type="text" name="lname">
            </h3>
            <h3>Age: 
                    <input type="text" name="age">
            </h3>
            <input type="submit" value ="Create" style="background-color: white; box-shadow: solid black 2px 2px; margin-top: 10px;">
        </form>    
    </div>
    <div>
        <a href="/">Home</a>
    </div>
</body>
</html>